p {
  font-family: 'Abel', sans-serif;
}

.blog-archive {
  line-height: 2em;
}

.blog-post {
  width: 50%;
  /*border: 3px solid;
  border-style: ridge;*/
  padding: 1em;
}

p {
  text-indent: 10px;
}